/* HERO */
.hero-bg {
    background-image: url("../images/hero-image.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 95vh;
    z-index: -1;
}

.hero-bg .hero-caption {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.hero-caption h2 {
    color: white;
    font-size: 6vw;
    font-family: 'Archivo Black', sans-serif;
}

.hero-caption .stars {
    color: white;
    size: 100%;
    display: flex;
    align-items: center;
}

.hero-caption .stars p {
    font-size: 26px;
    padding-right: 10px;
}
/* END HERO */

/* RESPONSIVE */
/* iPad Pro Portrait*/
@media only screen and (max-width: 1024px) {
    .hero-bg {
        background-position-x: 35%;
        background-attachment: scroll;
    }
    .hero-caption h2{
        font-size: 100px;
    }
    .hero-caption .stars p {
        font-size: 28px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .hero-bg {
        background-position-x: 50%;
    }
    .hero-caption h2{
        font-size: 90px;
    }
}

@media only screen and (max-width: 500px) {
    .hero-bg {
        background-position-x: 90%;
    }
    .hero-caption h2{
        font-size: 54px;
    }
    .stars {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .stars p {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .hero-bg {
        background-position-x: 90%;
    }
    .hero-caption h2{
        font-size: 48px;
    }
    .stars div {
        display: none;
    }
    .stars p {
        display: none;
    }
    .nav-container .logo h1 {
        font-size: 16px;
    }
    .nav-container .nav-link li {
        font-size: 16px;
    }
}

/* END RESPONSIVE */