/* HERO */
.hero-bg {
    background-image: url("../images/hero-image.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 95vh;
}

.hero-bg .hero-caption {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.hero-caption h2 {
    color: white;
    font-size: 6vw;
    font-family: 'Archivo Black', sans-serif;
}

.hero-caption .stars {
    color: white;
    size: 100%;
    display: flex;
    align-items: center;
}

.hero-caption .stars p {
    margin-left: 10px;
    font-size: 28px;
}
/* END HERO */

/* RESPONSIVE */
/* iPad Pro */
@media only screen and (max-width: 1024px) {
    .hero-bg {
        background-position-x: 100%;
    }
    .hero-caption h2{
        font-size: 172px;
    }
}

@media only screen and (max-width: 768px) {
    .hero-bg {
        background-position-x: 100%;
    }
    .hero-caption h2{
        font-size: 124px;
    }
}

@media only screen and (max-width: 500px) {
    .hero-bg {
        background-position-x: 90%;
    }
    .hero-caption h2{
        font-size: 56px;
    }
    .stars {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .stars p {
        width: 100%;
    }
}

/* END RESPONSIVE */