@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #252525;
    font-family: 'Montserrat', sans-serif;
    
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: #252525;
    min-height: 5vh;
    display: flex;
    align-items: center;
    color: white;
}
footer p{
    width: 80%;
    margin: auto;
}
/* END FOOTER */

/* RESPONSIVE FOOTER */
@media only screen and (max-width: 1024px) {
    footer p {
        font-size: 22px;
    }
}

@media only screen and (max-width: 768px) {
    footer p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    footer p {
        font-size: 12px;
    }
}
/* END RESPONSIVE FOOTER */